<div class="table-responsive" style="height:250px;overflow: scroll;">
<table id="multiselect-{{multiselectTableId}}" class="table stats ng-table-rowselected">
    <tr>
        <th>Name</th>
        <th>Count</th>
    </tr>
    <tr style="cursor:pointer" ng-repeat="x in multiselectdialogdata"
        ng-click="data.$selected = !data.$selected; getDimentionSelectedValue(x.name,data.$selected)"
        ng-class="{'selecteditems': data.$selected}">
        <td>{{ x.name }}</td>
        <td>{{ x.value }}</td>
    </tr>
</table>
    <div style="float:right">

        <button type="button" class="btn btn-default" ng-click="closeThisDialog(0)">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="getMultiFilterDataFromDB(1);closeThisDialog('closed')">Submit</button>
        &nbsp;
    </div>

</div>