

#body_head{
    /*margin:10px;*/
}

#main_body{
    margin-top:50px;
}

.graphs{
    margin:5px;
}
.form_line{
    padding-top: 20px;
}

.tagholder{
    padding:15px;
    margin-bottom: 10px;
}

.selecteditems{
    background-color: rgb(208, 242, 255);
}

.tags{
    display:inline;
    max-width: 150px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tags>button{
    margin-left: 5px;
    border:none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}