.content{
    margin-top:36px;
}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400
}

h1,h2,h3,h4,h5,h6,.navbar-brand,.brand-name {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400
}

p.lead {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400
}

.options{
    margin-top:10px;
}



.ng-table th{
    text-align: left;
}

td{
    padding: 5px !important;
}

.box-header{
    padding: 6px;
}

.box-footer{
    padding: 2px;
}

.pagination{
    margin:0px;
}

.form_line{
    padding-top: 20px;
}

.tagholder{
    padding:5px;
    margin-bottom: 5px;
}

.selecteditems{
    background-color: rgb(208, 242, 255);
}

.tags{
    display:inline;
    max-width: 150px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tags>button{
    margin-left: 5px;
    border:none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #545454;
    shape-rendering: crispEdges;
}

.x.axis path {
    /*display: none;*/

}

.y.axis path {

}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.dimTitle{
    text-decoration: none;
    color:#000;
}

.division-header{
    padding:15px;
}

.metrics-dropdown{
    min-width: 200px;
}

.metricWrap{
    padding: 6px;
}

.metric-division{
    margin:2px;
}
.time-metrics-filter{
    margin-bottom: 3px;
}

.selectbox {
    position: relative;
    top: -2px;
    background: #ffffff;
    color: #838383;
    white-space: normal;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}
.selectbox span {
    padding-left: 3px;
}
.dropdown-toggle{
    padding-bottom: 3px;
    padding-top: 3px;
}
.dropdown-toggle>.btn>.btn-default{
    padding-bottom: 3px;
    padding-top: 3px;

}