<div class="col-md-6">
    <div class="info-box">
        <div class="division-header">
            <div class="row">
                <div class=" col-md-3 ">
                    <h2>Metrics</h2>
                </div>
                <div class="metric_head col-md-9" ng-controller="DatepickerDemoCtrl">
                    <form name="datepickerForm" class="form-inline" role="form">
                        <!-- Date range example -->
                        <div class="row form_line">
                            <div class="col-md-2">
                                <label class="control-label"><i class="fa fa-calendar"></i> Date range </label>
                            </div>
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" ng-model="fromDate"  data-max-date="{{untilDate}}" placeholder="From" bs-datepicker>
                            </div>
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" ng-model="untilDate"  data-min-date="{{fromDate}}" placeholder="Until" bs-datepicker>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div  id="viz-place-holder" >
        <div class="box box-success" ng-repeat="graph in graphDataArr" ng-include="'/assets/partials/templates/vizBlockTemplate.html'">
        </div><!-- /.box -->
    </div>
</div><!-- /.col -->

<div class="col-md-6">
    <div class="info-box">
        <div class="division-header">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 ">
                    <h2>Dimensions</h2>
                </div>
                <!--<div class="col-lg-6 col-md-7 col-sm-7 pull-right ">-->
                    <!--<ul class="options nav nav-pills">-->
                        <!--<li class="dropdown">-->
                            <!--<a href="javascript:void(0)" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">hour <span class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a href="javascript:void(0)">Action</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li role="presentation"><a class="btn btn-default" href="javascript:void(0)">Messages</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
        </div>
    </div><!-- /.info-box -->
    <div class="row" id="table-place-holder" >
        <div class="col-md-12" ng-repeat="table in indTableDataArr" ng-include="'/assets/partials/templates/dimensionTableTemplate.html'">
        </div>
    </div>
</div><!-- /.col -->